<style>
    .jumbotron {

    margin-bottom: 0;
    }
</style>
{% extends "layout.html" %}

{% block body %}
<div class="container h-70 d-flex justify-content-center">
    <div class="jumbotron my-auto">
      <h1>About Us:</h1>
      <h3 >Our Story:</h3>
      <p>HZ Party Organiser was created in London, United Kingdom. We found people are in fact struggling to find suitable and original themes for their parties. Then we agreed to support them by proposing suggestions for the topics or simply being able to contribute by sharing the best experienced party themes.</p>
    </div>
 </div>
<br>
<br>


{% endblock %}