{% extends "layout.html" %}

{% block body %}
            <h1>
                <center>Your Random Outfit Generator </center>
            </h1>


            <br>
            
            <h5>
              <center>{{ sentence }}</center>  
            </h5>
            <br>
            <center><button class="btn btn-primary"  onclick="window.location.reload();">
                Generate Outfit
            </button>
        </center>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
      

    {% endblock %}
