{% extends "layout.html" %}

{% block body %}
            <h1>
                <center>Your Random Party Oragniser </center>
            </h1>


            <br>

            <center><form class ="form-horizontal" method="POST">
        
                <div class="form-group">
                <label class="control-label col-sm-2"><h5>What's your Age? </h5></label>
                <div class="col-sm-5">
                    <input class="form-control" type="value" name="age"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" type="Submit">Submit </button>
                    </div>
                </div>
            </form> </center>
            
            <h5>
              <center>{{ sentence }}</center>  
            </h5>
            <br>
            <center><button class="btn btn-primary"  onclick="window.location.reload();">
                Oragnise Party
            </button>
        </center>

        

    

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
      

    {% endblock %}
