{% extends "layout.html" %}

{% block body %}
            <h1>
                <center>Your Random Outfit Generator </center>
            </h1>


            <div class = "createform">
                <form class ="form-horizontal" method="POST">
                    <div class="form-group">
                        <div class = "input-group">
                            <label class="control-label col-sm-2">What's your age?</label>  
                        </div>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" name="age"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-group">
                <label class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" type="Submit">Submit </button>
            </div>
            <p>
              <center>{{ sentence }}</center>  
            </p>

            <center><button class="btn btn-primary"  onclick="window.location.reload();">
                Generate Outfit
            </button>
        </center>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
      

    {% endblock %}
